body {
    background-color: lightskyblue;
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2.25em;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin: .25em auto .50em;
    text-align: left;
}

p {
    margin: 1em auto;
    text-align: center;
}

section {
    margin: 0 auto;
    width: 20%;
}

td {
    margin: 1em;
}

td:nth-child(even) {
    background: #CCC;
}

td:nth-child(odd) {
    background: #FFF;
}

#checkbox-display {
    margin-top: 1em;
}
